* {
    margin: 0;
    padding: 10px;
    font-family: "Comic Neue", cursive;
    font-weight: 300;
    font-style: normal;     
}

h1, h2, h3{

    font-family: "Comic Neue", cursive;
    font-weight: 700;
    font-style: normal;
}

body{
    padding: 0;
    width: 100vw;
    height: 1200px;
    background-color: #dcb7ee;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
}

article{
    background-color: blanchedalmond;
    padding: 0;
    margin: 20px;
    min-width: 100px;
    width: 25%;
    height: 300px;
    display: flex; 
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border-radius: 10%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);

}

.caja-1{
    transition: transform 0.2s ease;
}

.caja-1:hover{
    transform: scale(1.1);
}

.caja-2{
    transition: transform 0.5s ease;
}

.caja-2:hover{
    transform: rotate(360deg);
}

.caja-3{
    transition: transform 0.2s ease;
}

.caja-3:hover{
    transform: scale(1.1);
}

.caja-4{
    transition: transform 0.2s ease;
}

.caja-4:hover{
    transform: translateX(-20px);
}

.caja-5{
    transition: transform 1s ease-in-out;
}

.caja-5:hover{
    animation: arribaAbajo 0.5s ease-in-out;
}

.caja-6{
    transition: transform 0.2s ease;
}

.caja-6:hover{
    transform: translateX(20px);
}


section{
    width: 100px;
    height: 100px;
}

section h2{
    text-align: center;
    width: 50%;
    height: 50%;
}

img{
    padding: 0;
    width: 180px;
    height: 200px;
}

@keyframes arribaAbajo {
    0% {
        transform: translateY(-50px); /* Punto de partida */
    }
    50% {
        transform: translateY(0px); 
    }
    100% {
        transform: translateY(50px); /* Volver a la posición original */
    }
}
